<nav class="navbar navbar-default">
<div class="container">
    <div class="navbar-header">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <!-- <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> -->
        </button>
        <a class="navbar-brand" href="#">My ePortfolio</a>
    </div>

    <div id = "navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        {% if session.logged_in %}
        <li><a href="/resume">Resume</a></li>
        {% endif %}
        <li><a href="/skill">Skill</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/about">About</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Interests</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/interests/cadd">CADD</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/interests/mlmodels">ML models</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/interests/dataanalysis">Data analysis</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/interests/others">Others</a>
          </div>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>

      <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>

    </div>
</div>
</nav>