{% extends 'layout.html' %}

{% block body %}

<h1> Everyday exercise for your neck vertebra. </h1>

<h3> 预防颈椎病的简单易行的运动练习方法 (<a href="https://mp.weixin.qq.com/s?__biz=MjM5NjQ2NjcyMg==&mid=2651554784&idx=1&sn=e2730d06e9df2a235f3b8a663010efab&chksm=bd17faad8a6073bbf398ad8be08ebb817856d58efc8ac83d5379a9d795149b2ea1846a40f184&mpshare=1&scene=23&srcid=1121EkesOMfDH5ebJgDTg5ZD&sharer_sharetime=1605973852293&sharer_shareid=6a458fc9985c117a059268e120c4a0eb#rd">source from here </a>)</h3>

<div>

<h4>颈部活动度练习: </h4>
<div>
<ul>坐位或立位，颈部和上半身保持直立；</ul>
<ul>颈部缓慢前屈到最大程度，保持1-2秒→再后伸到最大程度保持1-2秒为一次，10次/组；</ul>
<ul>颈部向左侧屈到最大程度，保持1-2秒→再向右侧侧屈到最大程度，保持1-2秒为一次，10次/组；   </ul>
<ul>颈部向左侧旋转到最大程度，保持1-2秒→再向右旋转到最大程度，保持1-2秒为一次，10次/组。</ul>
</div>

<p>颈椎的前屈和后伸即低头和仰头动作。侧屈时面部保持向前，头部向左和向右侧倾斜。旋转动作是指面部转向左边和右边。通过以上几个方向的动作，可以达到练习颈椎关节活动范围的目的。</p>

<p>在练习时，要保证在每一个方向的动作尽量做到最大程度，保持1~2秒，然后再向另外一侧进行活动。双侧的肩关节保持放松，自然下垂，同时要尽量保持身体不动，以免出现胸、腰椎的代偿动作。</p>

<h4>颈部力量练习: </h4>
<div>
<ul>坐位下进行，保持肩关节放松，下颌微收，保持颈部处于中立位；</ul>
<ul>双手交叉置于额头向后用力，颈部向前用力与之对抗，保持头部不动，维持5-10秒/次，10次/组，2组/日；</ul>   
<ul>双手交叉置于枕后向前用力，颈部向后用力与之对抗，保持头部不动，维持5-10秒/次，10次/组，2组/日；</ul>
<ul>将右手置于头部左侧向右用力，颈部向左用力与之对抗，保持头部不动，维持5-10秒/次，反之亦然，每个方向10次/组，2组/日。</ul>
</div>

<p>颈部力量训练的关键是适当抗阻，双手施加的阻力与颈部用力的方向相反，可以使肌肉力量得到有效的强化。</p>

<h4>收下颌练习: </h4>
<div>
<ul>坐位下进行，保持肩关节放松，平视前方；</ul>
<ul>头部向后平稳缓慢移动，收紧下颌，到最大程度时保持3-5秒，缓慢放松回到起始位，10次/组， 2-3组/日。</ul>
</div>

<h4>徒手攀绳练习: </h4>
<div>
<ul>站立位，保持下颌微收，头部不要向前探出。双臂自然垂于身体两侧，双肩同时做缓慢耸肩动作到最大程度时保持2秒，再缓慢下沉到最大程度为一次；10次/组，2组/日。</ul>
</div>   

<h4>耸肩练习: </h4>
<div>
<ul>站立位，想象面前有一条垂直的绳子；</ul>
<ul>双手交替抓握，模拟攀爬动作，从脐水平一直攀到高于头顶的最大程度，然后再逐渐向下返回至脐水平，眼睛始终注视双手，速度控制在约30-40秒/次，5-10次/组。</ul>
</div>

<h4>靠墙顶球练习: </h4>
<div>
<ul>靠墙站立，头颈部保持中立位，下颌微收，枕后放一弹性小球；</ul>
<ul>  颈部用力向后压住小球，缓慢向左侧转头到最大程度时保持1-2秒，再向右侧转头到最大程度保持1-2秒为一次，尽量保持球不下落；</ul>
<ul>12-15次/组，2-3组/日。</ul>
</div>

<h4>此外，有些体育运动也能起到锻炼颈部功能，预防颈椎病的目的。将颈部功能锻炼与趣味性的体育运动相结合，也能达到更好的效果。这些运动包括：游泳，羽毛球，放风筝等。</h4>

</div>


{% endblock %}