{% extends 'layout.html' %}

{% block body %}

<h1> Others </h1>
<p><a data-toggle="collapse" data-target="#collapseExample1" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Everyday exercise.</a></p>
<div class="collapse" id="collapseExample1">
<ul>One: <a href="/interests/others/neckvertebra_exercise">Everyday exercise for your neck vertebra.</a></ul>
<ul>Two: <a href="/interests/others/eye_exercise">Everyday exercise for your eyes.</a></ul>
<ul>Three: <a href="/interests/others/gymnastics_exercise">Everyday exercise for your body.</a></ul>

</div>


{% endblock %}