{% extends 'layout.html' %}

{% block body %}

<h1> Write Captions and Descriptions about Your Work </h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
                <img src="/static/images/IMG_20180826_131546.jpg" alt="" width=380 height=280>
        </div>
        <div class="col-sm-4">
            <h3>Captions</h3>
            <p>This is a presentation that I gave for the ABC project in China in 2013.</p>
            <h3>Descriptions</h3>
            <p>This presentation that I gave is short and clear. It's easy to understand and helped our client to promote their brainstorming in the EFG project and thus speed up the later project process. I am satistified about the striking impact that this presentation brought about.</p>
        </div>
    </div>
</div>


{% endblock %}