{% extends 'layout.html' %}

{% block body %}

<h1> Add a Headline & Summary to Your ePortfolio </h1>
<h3>Headline</h3>
<p>Medicinal Chemist: Synthesizing small molecules to aid drug discovery</p>
<p>Computational Chemist: Designing molecules to increase hit rate in drug discovery</p>
<h3>Summary</h3>
<p>I am a medicinal chemist with 5 years of experience, and I am looking for new job opportunities in this field. I am an enthusiastic and dedicated professional. I have synthesized more than 100 compounds for ABC project in China in 2016 and a few of them showed strong activity towards XYZ. Additionally, I designed small molecules for medicinal chemists to help increase hit rate in EFG project in Berlin in 2018 and this greatly reduced the time for finishing the whole project. I am skilled in computer programming, communication, and teamwork.</p>


{% endblock %}