{% extends 'layout.html' %}

{% block body %}

<h1> Lihua Deng</h1>

<h3>Education</h3>
<p>Bachelor's degree in Pharmacy, Jilin University, Changchun, China (Sep 2009-Jun 2013).</p>
<p>Master's degree in Medicinal Chemistry, Peking University, Beijing, China (Sep 2013-Jun 2016). </p>
<p>Doctorate degree in Computer-aided Drug Design, FUB, Berlin, Germany (Sep 2016-Expected graduation, February 2021).</p>

<h3>Awards & Honors</h3>
<p><strong>CSC-FUB Scholarship</strong>, China Scholarship Council (2016-2020)</p>
<p><strong>Outstanding Graduates Award</strong>, Peking University (2016)</p>
<p><strong>Scientific Research Excellence Award</strong>, Peking University (2015)</p>
<p>Priority admission to Peking University School of Pharmaceutical Sciences in 2013</p>
<p><strong>Norman Bethune Medical Scholarship (Top 1)</strong>, Jilin University (2013)</p>

<h3>Work / Professional Experience</h3>
<p><strong>No working experience so far</strong>&nbsp;&nbsp;&nbsp;&nbsp;  No working experience so far.</p>
<!-- <p><strong>ABC INC. May 2019-Aug 2020 (Medicinal Chemist Intern)</strong>&nbsp;&nbsp;&nbsp;&nbsp; Restructured workflow for team projects. Increased yields for important building blocks</p> -->

<h3>Hobbies</h3>
<p>Traveling, reading and sports (table-tennis, badminton, etc.).</p>


{% endblock %}