{% extends 'layout.html' %}

{% block body %}

<h1> Lihua's Resume </h1>
<h2>Education</h2>
<p>Bachelor's degree in Pharmacy, Jilin University, Changchun, China (Sep 2009-Jun 2013).</p>
<p>Master's degree in Medicinal Chemistry, Peking University, Beijing, China (Sep 2013-Jun 2016). </p>
<p>Doctorate degree in Computer-aided Drug Design, FUB, Berlin, Germany (Sep 2016-Expected graduation, February 2021).</p>
<h2>Work/ professional experience</h2>
<p>ABC INC. May 2019-Aug 2020 (Medicinal Chemist Intern)</p>
<p>Restructured workflow for team projects</p>
<p>Increased yields for important building blocks</p>

{% endblock %}