{% extends 'layout.html' %}

{% block body %}

<h1> My Skills </h1>

<h3>Technical skills</h3>
<p><strong>Molecular modeling and chemoinformatics</strong>&nbsp;&nbsp;&nbsp;&nbsp; Four years experience in molecular design, including virtual screening, molecular docking and molecular dynamics simulations.</p>
<p><strong>Small molecule synthesis</strong>&nbsp;&nbsp;&nbsp;&nbsp; Three years experience in small molecule synthesis, modification and characterization.</p>
<p><strong>Machine learning</strong>&nbsp;&nbsp;&nbsp;&nbsp; Hands on experience in machine learning model building and result analysis, visualization.</p>
<p><strong>Programming skills</strong>&nbsp;&nbsp;&nbsp;&nbsp; Proficient in Python, SQL and version control with git, familiar with R, Javascript, shell scripting and web programming.</p>
<p><strong>Data analysis</strong>&nbsp;&nbsp;&nbsp;&nbsp; Proficient in statistics and exploratory data analysis, data visualization.</p>

<h3>Language skills</h3>
<p><strong>Chinese</strong>&nbsp;&nbsp;&nbsp;&nbsp; Mother tongue.</p>
<p><strong>English</strong>&nbsp;&nbsp;&nbsp;&nbsp; Advanced level (C1).</p>
<p><strong>German</strong>&nbsp;&nbsp;&nbsp;&nbsp; Intermediate level (B2).</p>

<h3>Other skills</h3>
<p><strong>LaTeX</strong>&nbsp;&nbsp;&nbsp;&nbsp; Two years user experience.</p>
<p><strong>MS office softwares</strong>&nbsp;&nbsp;&nbsp;&nbsp; Proficient in Word, PowerPoint and familiar in Excel.</p>

{% endblock %}